<div class="jumbotron container-fluid" style="width:100%;height:100%;">
<!--   <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Enjoy quick-SWOT-ing!
  </p> -->
<!--   <ul>
    <li ng-repeat="mainstuff in mainstuffs | filter:query">
      <a>{{mainstuff.name}}</a>
    </li>
  </ul> -->
<!--   <div class="row">
    <div class="row-height" style="display:table;table-layout:fixed;">
      <div class="col-xs-3 col-md-6 col-height col-top" style="height:100%;display:table-cell;float:none;background-color:red">TL</div>
      <div class="col-xs-3 col-md-6 col-height col-top" style="height:100%;display:table-cell;float:none;background-color:blue">TR</div>
    </div>
  </div>
  <div class="row">
    <div class="row-height" style="display:table;table-layout:fixed;">
      <div class="col-xs-3 col-md-6 col-height col-bottom" style="height:100%;display:table-cell;float:none;background-color:blue">BL</div>
      <div class="col-xs-3 col-md-6 col-height col-bottom" style="height:100%;display:table-cell:float:none;background-color:red">BR</div>
    </div>
  </div>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div> -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bootstrap 3 responsive columns of same height</title>
    <meta name="description" content="Bootstrap 3 responsive columns of same height">
    <!-- include bootstrap -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<h1>quick SWOT</h1>
<div class="container">
  <div class="row">
    <div class="row-height">
      <div class="col-xs-6 col-md-6 col-height">
        <div class="inside">
          <div class="content">
            <br><br><br><br><br><br><br></div>
          <div class="input-group input-swot">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-6 col-height col-top">
        <div class="inside">
          <div class="content">
            <br><br><br><br><br><br><br></div>
            <div class="input-group input-swot">
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
        </div>
      </div>
     </div>
  </div>
  <div class="row">
    <div class="row-height">
      <div class="col-xs-6 col-md-6 col-height">
        <div class="inside">
          <div class="content">
            <br><br><br><br><br><br><br></div>
          <div class="input-group input-swot">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-6 col-height col-top">
        <div class="inside">
          <div class="content">
            <br><br><br><br><br><br><br></div>
            <div class="input-group input-swot">
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
        </div>
      </div>
     </div>
  </div>
</body>
</html>

<!-- <div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
 -->